<div class="container-fluid">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td><i *ngIf="user.role!='Admin'" (click)="delete(user.id)" class="fa-solid fa-trash"></i></td>
            </tr>
        </tbody>
    </table>

</div>