<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Product List</h2>
    <a class="btn btn-primary" routerLink="/add-product">Add Product</a>
</div>
<div class="custom-container">

    <!-- Lazy loading cards -->
    <div class="card" aria-hidden="true" id="ld" *ngIf="loading">
        <img src="..." class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
    </div>
    <div class="card" aria-hidden="true" id="ld" *ngIf="loading">
        <img src="..." class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
    </div>
    <div class="card" aria-hidden="true" id="ld" *ngIf="loading">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
    </div>

    <!-- Actual Cards after rendering -->

    <div *ngFor="let p of filteredProducts" class="container-custom">

        <div class="card" style="width: 18rem;">
            <img [src]="p.images[0]" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description}}</p>
                <div class="buttons">
                    <a class="btn btn-primary" id="add">Add</a>
                    <a class="btn btn-primary" id="view" routerLink="/product-details/{{p.id}}">view</a>
                    <a class="btn btn-primary" id="view" routerLink="/edit-product/{{p.id}}">Edit</a>
                    <a class="btn btn-primary" id="view" (click)="deleteProduct(p.id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>