<br>
<img [src]="product.images[0]" alt="">
<p><b>Product Id:-</b>{{product.id}}</p>
<p><b>Name:-</b>{{product.name}}</p>
<p><b>Description:-</b>{{product.description}}</p>
<p><b>SKU No.:-</b>{{product.sku}}</p>
<p><b>Category:-</b>{{product.category}}</p>
<p><b>Manufacturer:-</b>{{product.manufacturer}}</p>
<p><b>Price:-</b>₹{{product.price}}</p>
<p *ngIf="au.user.role=='Admin'||au.user.role=='Manager'"><b>PriceAgreement:-</b>₹{{product.priceAgreement}}</p>
<p><b>Available Quantity:-</b>{{product.quantity}}</p>
<p><b>Items Sold:-</b>{{product.sold}}</p>